<div class="footer">
  <div class="footer-content">

    <div class="footer-section about">
      <h1 class="logo-text"><span>Cash</span> & Carry</h1>
      <br>
      <p>
        Cash and carry enables you to buy products via online. You can now buy your most awaited
        indian products here in US with higher discounts and reliability.
        Authentic purchase records can be validated.
      </p>
      <div class="contact">
        <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>
        <span><i class="fa fa-envelope"></i> &nbsp; info@cashNcarry.com</span>
      </div>
      <div class="socials">
        <a><i class="fa fa-facebook"></i></a>
        <a><i class="fa fa-instagram"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-section links">
      <h2>Quick Links</h2>
      <br>
      <ul>
        <a><li>Events</li></a>
        <a><li>New Products</li></a>
        <a><li>Locations</li></a>
        <a><li>Terms and Conditions</li></a>
      </ul>
    </div>

    <div class="footer-section contact-form">
      <h2>Contact Us</h2>
      <br>
      <form action="">
        <input type="email" name="" class="text-input contact-input" placeholder="Yours Email address...">
        <textarea name="message" class="text-input contact-input" placeholder="Yours Message..."></textarea>
        <br>
        <button type="submit" class="btn btn-big contact-btn">
          <i class="fa fa-envelope"></i>
          Send
        </button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; uday.chatterjee4@gmail.com | designed by Uday
  </div>
</div>